<!DOCTYPE html>
<html>
<head>
    <title>
        Registration Here
    </title>
     <link rel="icon" type="image/x-icon" href="/static/fav.png">
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<body>
   {{!-- it fetch the header from partial (nav) --}}
  {{> nav}}
<div class="container mt-3">
    <h2 align="center">Add Product</h2>
    <form  method="post" action="/addproduct">
    {{#if errMsg}}
     <div class="alert alert-warning" role="alert">{{errMsg}}</div>
     {{/if}}
      <!-- name input -->
      <div class="mb-3">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" name="pname" placeholder="Product Name" pattern="[A-Za-z]{1,32}" required>
      </div>
      <!-- age input -->
      <div class="mb-3">
        <label for="Price">Price</label>
        <input type="number" class="form-control" name="price" placeholder="Price" required>
      </div>
      <div class="mb-3">
        <label for="quantity">Quantity </label>
        <input type="number" class="form-control" name="quantity" placeholder="Quantity" required>
      </div>
       <div class="mb-3">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" placeholder="Description" required>
      </div>
      <div class="mb-3">
        <label for="image">Image</label>
        <input type="file" class="form-control" name="image" placeholder="image" required>
      </div>
      
      <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
  </div>
   {{!-- it fetch the footer from partial (footer) --}}
  <br>
{{> footer}}
</body>
</html>

