// Footer
footer.bg-dark.text-center.text-white
  // Grid container
  .container.p-4
    // Section: Social media
    section.mb-4
      // Facebook
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-facebook-f
      // Twitter
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-twitter
      // Google
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-google
      // Instagram
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-instagram
      // Linkedin
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-linkedin-in
      // Github
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-github
    // Section: Social media
    // Section: Form
    section
      form(action='')
        // Grid row
        .row.d-flex.justify-content-center
          // Grid column
          .col-auto
            p.pt-2
              strong Sign up for our newsletter
          // Grid column
          // Grid column
          .col-md-5.col-12
            // Email input
            .form-outline.form-white.mb-4
              input#form5Example21.form-control(type='email')
              label.form-label(for='form5Example21') Email address
          // Grid column
          // Grid column
          .col-auto
            // Submit button
            button.btn.btn-outline-light.mb-4(type='submit')
              | Subscribe
          // Grid column
        // Grid row
    // Section: Form
    // Section: Text
    section.mb-4
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        | repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        | eum harum corrupti dicta, aliquam sequi voluptate quas.
    // Section: Text
    // Section: Links
    section
      // Grid row
      .row
        // Grid column
        .col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Links
          ul.list-unstyled.mb-0
            li
              a.text-white(href='#!') Link 1
            li
              a.text-white(href='#!') Link 2
            li
              a.text-white(href='#!') Link 3
            li
              a.text-white(href='#!') Link 4
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Links
          ul.list-unstyled.mb-0
            li
              a.text-white(href='#!') Link 1
            li
              a.text-white(href='#!') Link 2
            li
              a.text-white(href='#!') Link 3
            li
              a.text-white(href='#!') Link 4
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Links
          ul.list-unstyled.mb-0
            li
              a.text-white(href='#!') Link 1
            li
              a.text-white(href='#!') Link 2
            li
              a.text-white(href='#!') Link 3
            li
              a.text-white(href='#!') Link 4
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Links
          ul.list-unstyled.mb-0
            li
              a.text-white(href='#!') Link 1
            li
              a.text-white(href='#!') Link 2
            li
              a.text-white(href='#!') Link 3
            li
              a.text-white(href='#!') Link 4
        // Grid column
      // Grid row
    // Section: Links
  // Grid container
  // Copyright
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    | &copy; 2020 Copyright:
    a.text-white(href='https://neosofttech.com/') Neosoft Technology
  // Copyright
// Footer
