<tr>
    <td>MOHD RAZA</td>
    <td>213213213</td>
    <td>lomk@gmail.com</td>
    <td>21</td>
    <td>noida</td></tr>
    <tr>
    <td>MOHD RAZA</td>
    <td>213213</td>
    <td>india@gmail.com</td>
    <td>12</td>
    <td>asdasd</td></tr>
    <tr>
    <td>wqeqwe</td>
    <td>213213</td>
    <td>lomk@gmail.com</td>
    <td>12</td>
    <td>wqe</td></tr>
    